@media screen and (max-width: 1200px) {
    .mainContainer {
        flex-direction: column !important;
        align-items: center;
    }

    .cardsContainer {
        flex-direction: column;
    }

    form {

        margin-bottom: 5vw !important;
    }

    .card {
        width: 80% !important;
    }


}







body {

    display: flex;
    align-items: center;

    flex-direction: column;

    flex: 1;
    min-height: 100vh;


    margin: 0px;
    background: linear-gradient(120deg, rgb(142, 121, 94), rgb(151, 140, 98));


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    height: 60px;




    border-radius: 5px;

}



.header strong {
    color: rgb(238, 238, 238);
    font-size: 1.6rem;
    transition: 0.3s;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
}

.header strong:hover {

    color: rgb(62, 52, 39);
}



.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    width: 100%;

    margin-top: 6vw;


}









.usersContainer {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: 0.02px 0.02px 10px 1px rgb(71, 71, 71);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;

    width: clamp(220px, 70%, 700px);

    margin: 30px;


}

.usersContainer strong:first-child {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}




.card {
    background-color: rgb(142, 121, 94);

    padding: 10px;
    width: 40%;
    height: 400px;


    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 1vw;
    color: white;


}

.card img {
    flex: 1;

    align-self: center;
    width: 90%;
    height: auto;
    margin: 8px;
}

.card strong {
    margin-left: 8px;
    margin-right: 8px;
    width: 90%;
}

.strong:first-child {
    font-size: 1.3rem;
}

.card ::-webkit-scrollbar {
    height: 5px;
    background: none;
}

.card ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 7px;
}


.descCont {
    overflow: scroll;
    height: 80px;


}

.descCont strong {
    width: 100%;
    height: 50px;
}











form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: clamp(220px, 400px, 40%);

    background-color: rgb(231, 231, 231);

    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin: 30px;


}

form strong {
    color: rgb(71, 63, 45);
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 10px;
    margin-left: 10px;
}

input {
    width: 90%;
    padding-top: 14px;
    padding-left: 4px;
    margin: 10px;

    border: 0px solid rgb(41, 35, 35);
    border-bottom: 1px solid rgb(48, 47, 42);

    background: none;


    color: rgb(49, 46, 41);
    font-size: 1.02rem;
    font-weight: 600;

    transition: 0.1s;
}



input::placeholder {
    color: rgb(42, 35, 28);
}



button {

    height: 50px;

    border-radius: 9px;
    border: 0px;

    cursor: pointer;


    margin-top: 20px;
    transition: 0.1s;

    font-size: 1.3rem;

    color: white;
    background-color: rgb(138, 120, 89);
}



button:hover {
    transform: scale(1.01);

    color: rgb(138, 120, 89);
    background-color: white;
    border: 2px solid rgb(138, 120, 89);
}