body {

    display: flex;
    align-items: center;

    flex-direction: column;

    flex: 1;
    min-height: 100vh;


    margin: 0px;
    background: linear-gradient(120deg, rgb(142, 121, 94), rgb(151, 140, 98));


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    height: 60px;




    border-radius: 5px;

}



.header strong {
    color: rgb(238, 238, 238);
    font-size: 1.6rem;
    transition: 0.3s;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
}

.header strong:hover {

    color: rgb(62, 52, 39);
}



.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;

    margin-top: 6vw;
}






.card {
    background-color: rgb(239, 239, 239);

    padding: 10px;
    width: 300PX;

    display: flex;
    flex-direction: column;
    border-top: 20px SOLID rgb(138, 120, 89);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;


}

.descCont {
    overflow: scroll;
    font-size: 1rem;
}

.card strong:nth-child(1) {
    font-size: 1.2rem;
}





.lineContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lineContainer strong {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    width: 600px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
}










form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;


    background-color: rgb(231, 231, 231);

    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

form strong {
    color: rgb(71, 63, 45);
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 10px;
    margin-left: 10px;
}

input {
    width: 400px;
    padding-top: 14px;
    padding-left: 4px;
    margin: 10px;

    border: 0px solid rgb(41, 35, 35);
    border-bottom: 1px solid rgb(48, 47, 42);

    background: none;


    color: rgb(49, 46, 41);
    font-size: 1.02rem;
    font-weight: 600;

    transition: 0.1s;
}



input::placeholder {
    color: rgb(42, 35, 28);
}



button {

    height: 50px;

    border-radius: 9px;
    border: 0px;

    cursor: pointer;


    margin-top: 20px;
    transition: 0.1s;

    font-size: 1.3rem;

    color: white;
    background-color: rgb(138, 120, 89);
}



button:hover {
    transform: scale(1.01);

    color: rgb(138, 120, 89);
    background-color: white;
    border: 2px solid rgb(138, 120, 89);
}


span {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    transition: 1s;

    display: none;

    font-size: 1.2rem;
    align-self: center;
}


.cardsContainer img {
    width: auto;
    height: 120px;
}