body {

    display: flex;
    align-items: center;

    flex-direction: column;

    flex: 1;
    min-height: 100vh;

    background: linear-gradient(120deg, rgb(20, 20, 20), rgb(26, 26, 26));


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100px;

}

.header img {
    width: 100px;
    margin-left: 2vw;
    margin-top: 1vw;
}

.header strong {
    color: rgb(156, 106, 185);
    margin-right: 2vw;
    font-size: 1.6rem;
    transition: 0.1s;
    cursor: pointer;
}

.header strong:hover {
    transform: scale(1.08);
    border-bottom: 1px solid rgb(156, 106, 185);
}










.card {
    background-color: white;

    padding: 10px;
    width: 300PX;

    display: flex;
    flex-direction: column;
    border-top: 20px SOLID rgb(156, 106, 185);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;


}

.descCont {
    overflow: scroll;
    font-size: 1rem;
}

.card strong:nth-child(1) {
    font-size: 1.2rem;
}





.lineContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lineContainer strong {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    width: 600px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
}










form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;


    background-color: rgb(255, 255, 255);

    height: 380px;
    box-shadow: rgba(57, 57, 57, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
    margin-top: 150px;
}

form strong {
    color: rgb(58, 53, 40);
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 10px;
    margin-left: 10px;
}

input {
    width: 400px;
    padding-top: 14px;
    padding-left: 4px;
    margin: 10px;

    border: 0px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(88, 77, 66);

    background-color: rgb(255, 255, 255);


    color: rgb(94, 82, 69);
    font-size: 1.02rem;
    font-weight: 600;

    transition: 0.1s;
}



input::placeholder {
    color: rgb(113, 113, 113);
}



button {

    height: 50px;

    border-radius: 9px;
    border: 0px;

    cursor: pointer;


    margin-top: 20px;
    transition: 0.2s;

    font-size: 1.3rem;

    color: white;
    background-color: rgb(156, 106, 185);
}



button:hover {
    transform: scale(1.03);
    box-shadow: rgb(160, 160, 160) 0px 0px 20px 1px;
}


span {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    transition: 1s;

    display: none;

    font-size: 1.2rem;
    align-self: center;
}