body {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex: 1;
    min-height: 100vh;

    background-color: rgb(19, 19, 19);
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px;
    border-radius: 10px;


    background-color: rgb(0, 0, 0);
}

strong {
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 10px;
}

input {
    width: 400px;
    height: 40px;
    margin: 10px;

    border: 0px solid rgb(194, 194, 194);
    border-bottom: 1px solid white;

    background-color: black;


    color: rgb(198, 198, 198);
    font-size: 1.02rem;
    font-weight: 600;

    transition: 0.1s;
}

input:focus {
    box-shadow: 0px 0px 30px 1px rgb(94, 51, 173);
}

input::placeholder {
    color: rgb(113, 113, 113);
}



button {
    width: 410px;
    height: 50px;

    border-radius: 16px;
    border: 0px;

    cursor: pointer;

    margin-top: 20px;
    transition: 0.3s;
}



button:hover {
    transform: scale(1.03);
    box-shadow: rgb(94, 51, 173) 0px 0px 70px 1px;
}